name: "Testing action-platformsh-url"

on: pull_request
permissions: write-all

jobs:
  ok-test:
    name: "Testing on a branch that has an active environment"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./
        id: active_url
        with:
          PLATFORMSH_ID: ${{ secrets.TEST_PLATFORMSH_ID }}
          PLATFORMSH_KEY: ${{ secrets.TEST_PLATFORMSH_KEY }}
          ENVIRONMENT_NAME: main
          ALLOW_CANCEL_CRON: 1

  missing-test:
    name: "Testing on a branch that does not exist"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./
        id: missing_url
        continue-on-error: true
        with:
          PLATFORMSH_ID: ${{ secrets.TEST_PLATFORMSH_ID }}
          PLATFORMSH_KEY: ${{ secrets.TEST_PLATFORMSH_KEY }}
          ENVIRONMENT_NAME: nonexistent
          DEPLOY_WAIT_TIME: 10

      - name: Check for failure
        if: ${{ steps.inactive_url.outputs.url }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('The test did not fail as expected.')

  inactive-test:
    name: "Testing on a branch that used to exist"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./
        id: inactive_url
        continue-on-error: true
        with:
          PLATFORMSH_ID: ${{ secrets.TEST_PLATFORMSH_ID }}
          PLATFORMSH_KEY: ${{ secrets.TEST_PLATFORMSH_KEY }}
          ENVIRONMENT_NAME: inactive
          DEPLOY_WAIT_TIME: 30

      - name: Check for failure
        if: ${{ steps.inactive_url.outputs.url }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('The test did not fail as expected.')
